
.headerbar {
    position: relative;
    height: 25vh;
}

.whiteBar {
    position: absolute;
    height: 12.5vh;
    width: 100vw;
    top: 0;
    left: 0;
    border-bottom: 2px solid #fff;
}

.headerLinksTop, .headerLinksBottom {
    display: inline-block;
    position: absolute;
    height: auto;
    width: calc( 100vw - 8vw - 30vw );
    right: 0;
}

.headerStripe {
    position: relative;
    stroke:#fff;
    stroke-width:2
}

.imageContainer {
    position: absolute;
    height: 30vw;
    max-height: 23vh;
    width: auto;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 4;
}

.headerRing {
    position: relative;
    height: 30vw;
    max-height: 23vh;
    width: auto;
    z-index: inherit;
    animation: spin-element 5s forwards linear infinite;
    -webkit-animation: spin-element 5s forwards linear infinite;
}

.jrLogo {
    position: absolute;
    height: 20vw;
    max-height: 15.5vh;
    width: auto;
    top: 45%;
    left: 47.5%;
    z-index: inherit;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media screen and (max-width: 719px) {
    .headerLinksTop {
        bottom: 2vw;
    }
    
    .headerLinksBottom {
        bottom: -7vw;
    }
  }

  @media screen and (max-width: 719px) and (orientation: landscape) {
    .headerLinksTop {
        bottom: 1vw;
    }
    
    .headerLinksBottom {
        bottom: -4.5vw;
    }
}
  
  @media screen and (min-width: 720px) and (max-width: 979px) {
    .headerLinksTop {
        bottom: 1vw;
    }
    
    .headerLinksBottom {
        bottom: -4.5vw;
    }
  }

  @media screen and (min-width: 980px) {
    .headerLinksTop {
        bottom: 0.5vw;
    }
    
    .headerLinksBottom {
        bottom: -3.5vw;
    }
  }