
.galleryContainer {
    position: relative;
    z-index: 3;
}

.fadeInGC {
    animation: fade-in 1s forwards;
    -webkit-animation: fade-in 1s forwards;
}

.spinniLogo {
    position: absolute;
    height: 19vh;
    width: auto;
    top: -4vh;
    left: 49%;
    transform: translateX(-50%);
    z-index: 1;
    animation: flicker 10s forwards;
    -webkit-animation: flicker 30s forwards infinite;
}

.slider {
    position: relative;
    height: 50vh;
    max-width: calc(50vh / 0.75);
    margin: 0 auto;
}

.centerImg, .leftImg, .rightImg, .mover {
    position: absolute;
    bottom: 0;
}

.centerImg {
    width: 40vw;
    max-height: 35vh;
    max-width: calc(35vh * (250 / 354));
    left: 30%;
    z-index: 2;
    box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
}

.leftImg, .rightImg {
    width: 30vw;
    max-height: calc(35vh * 0.75);
    max-width: calc(35vh * 0.75 * (250 / 354));
    filter: grayscale(0.7);
    -webkit-filter: grayscale(0.7);
}

.leftImg {
    left: 5%;
    z-index: 1;
}

.rightImg {
    left: 65%;
    z-index: 1;
}

.centerMover {
    z-index: 2;
}

.slideButtonBox {
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: 2vh;
    z-index: 5;
}

.slideButtonBox img {
    display: inline-block;
    position: relative;
    height: 5vh;
    width: auto;
    padding: 2vh;
    box-shadow: 0 0 10px;
}

.flickButton {
    pointer-events: none;
    animation: flick-button 0.5s forwards linear;
    -webkit-animation: flick-button 0.5s forwards linear;
}

.makeLeft {
    animation: make-left 0.5s forwards;
    -webkit-animation: make-left 0.5s forwards;
}

.makeCenterLeft {
    animation: make-center-left 0.5s forwards;
    -webkit-animation: make-center-left 0.5s forwards;
}

.makeCenterRight {
    animation: make-center-right 0.5s forwards;
    -webkit-animation: make-center-right 0.5s forwards;
}

.makeRight {
    animation: make-right 0.5s forwards;
    -webkit-animation: make-right 0.5s forwards;
}

.zIndex4 {
    z-index: 4 !important;
}

.zIndex5 {
    z-index: 5 !important;
}

/*-----------------------------------
| Slider button keyframe -animations |
------------------------------------*/

@keyframes flick-button {
    0% {
        box-shadow: 0 0 10px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50% {
        box-shadow: 0 0 0px;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
}
    100% {
        box-shadow: 0 0 10px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

@-webkit-keyframes flick-button {
    0% {
        box-shadow: 0 0 10px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50% {
        box-shadow: 0 0 0px;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
}
    100% {
        box-shadow: 0 0 10px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}


/*--------------------------------
| Spinnilogo keyframe -animations |
---------------------------------*/

@keyframes flicker {
    0% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    18% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    18.1% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
}
    18.3% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    18.4% {
        filter: brightness(90%) hue-rotate(220deg);
        -webkit-filter: brightness(90%) hue-rotate(220deg);
}
    18.5% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
}
    19.5% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
}
    20% {
        filter: brightness(0%);
        -webkit-filter: brightness(0%);
}
    20.5% {
        filter: brightness(40%);
        -webkit-filter: brightness(40%);
}
    21% {
        filter: brightness(10%);
        -webkit-filter: brightness(10%);
}
    21.5% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    43.5% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
}
    43.6% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
    }
    43.8% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    43.9% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
}
    44% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    58% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    58.1% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
    }
    58.3% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    58.4% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
    }
    58.5% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    58.6% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
    }
    58.8% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    58.9% {
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
    }
    59% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
    60% {
        filter: brightness(0%);
        -webkit-filter: brightness(0%);
    }
    65% {
        filter: brightness(0%);
        -webkit-filter: brightness(0%);
    }

    67% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
}
   
    100% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
}
}





/*-------------------------------
| Slideshow keyframe -animations |
--------------------------------*/

@keyframes make-left {
    0% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 2;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
    }
    100% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
        left: 5%;
        z-index: 1;
        box-shadow: 0 0 0 #000;
}
}

@-webkit-keyframes make-left {
    0% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 2;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
    }
    100% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 5%;
        z-index: 1;
        box-shadow: 0 0 0 #000;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
}
}

@keyframes make-center-left {
    0% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 5%;
        z-index: 1;
        box-shadow: 0 0 0 #000, 0 0 0 #000;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
}
    100% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 3;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
}

@-webkit-keyframes make-center-left {
    0% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 5%;
        z-index: 1;
        box-shadow: 0 0 0 #000, 0 0 0 #000;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
}
    100% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 3;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
}

@keyframes make-center-right {
    0% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 65%;
        z-index: 1;
        box-shadow: 0 0 0 #000, 0 0 0 #000;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
}
    100% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 2;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
}

@-webkit-keyframes make-center-right {
    0% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 65%;
        z-index: 1;
        box-shadow: 0 0 0 #000, 0 0 0 #000;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
}
    100% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 2;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
}

@keyframes make-right {
    0% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 2;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
    }
    100% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 65%;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
        z-index: 2;
        box-shadow: 0 0 0 #000;
}
}

@-webkit-keyframes make-right {
    0% {
        width: 40vw;
        left: 30%;
        max-height: 35vh;
        max-width: calc(35vh * (250 / 354));
        z-index: 2;
        box-shadow: 10px 0 20px #000, -10px 0 20px #000, 5px 0 25px #000, -5px 0 25px #000;
    }
    100% {
        width: 30vw;
        max-height: calc(35vh * 0.75);
        max-width: calc(35vh * 0.75 * (250 / 354));
        left: 65%;
        z-index: 2;
        box-shadow: 0 0 0 #000;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
}
}