
.headerLink {
    display: inline-block;
    color: #fff;
    margin-right: 10vw;
}

@media screen and (max-width: 719px) {
    .headerLink {
        font-size: 5vw;
    }
}

@media screen and (max-width: 719px) and (orientation: landscape) {
    .headerLink {
        font-size: 3vw;
    }
}

@media screen and (min-width: 720px) and (max-width: 979px) {
    .headerLink {
        font-size: 3vw;
    }
  }

  @media screen and (min-width: 980px) {
    .headerLink {
        font-size: 2.5vw;
    }
  }