
.footerContainer {
    position: relative;
    width: 100vw;
    height: 4vh;
    font-size: 1.2vh;
    color: #fff;
    bottom: 1vh;
    margin-top: 5vh;
    text-align: center;
}

.reactIcon {
    position: relative;
    height: 60%;
    animation: spin-element 15s forwards linear infinite;
    -webkit-animation: spin-element 15s forwards linear infinite;
}